<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PicaPoint Contacto</title>
    <link rel="stylesheet" href="/css/globalcss.css">
    <link rel="icon" href="/source/icon.jpg" type="image/icon">


</head>

<body>
    <nav>
        <div class="topnav" id="myTopnav">
            <a th:href="@{/}" class=" icon"><img class="icon" src="source/icon.jpg" alt="icono"></a>
            <a th:href="@{/maquinas}" class="inNav">Máquinas</a>
            <a th:href="@{/productos}" class="inNav">Productos</a>
            <div class="dropdown">
                <button class="dropbtn">Otros</button>
                <div class="dropdown-content">
                    <a th:href="@{/contacto}" class="selected">Contacto</a>
                    <a th:href="@{/about}">Sobre Nosotros</a>
                </div>
            </div>
            <a href="javascript:void(0);" style="font-size:15px;" class="desp" onclick="myFunction()">&#9776;</a>
          </div>
    </nav>
          <section>
            <h1>Página de Contacto</h1>
            <article>
                <div class="principal">
                    <h3>Información de contacto</h3>
                    <p>
                        En este apartado se facilitará informacion de contacto<br><br>
                        Github= <a href="https://github.com/PicaPointORG">https://github.com/PicaPointORG</a><br><br>
                        Correo electronico= slpicapoint@gmail.com <br><br>
                        Direccion= Calle de illueca, 28 03206 Elche, España

                    </p>
                </div>
                <div class="foto">
                        <img src="/source/icon.jpg" alt="fotico">
                </div>
            </article>
        </section>
        <footer>
          <a href="#"><img src="/source/flecha-hacia-arriba.png" alt="arriba" style="width: 70px; height: 70px;"></a>
      </footer>
        <script>
            function myFunction() {
              var x = document.getElementById("myTopnav");
              if (x.className === "topnav") {
                x.className += " responsive";
              } else {
                x.className = "topnav";
              }
            }
            </script>
    
</body>

</html>